*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
}

.shadow {
  box-shadow: #03030356 2px 2px 6px;
  transition: all 400ms ease;
}

.shadow:hover {
  box-shadow: #03030356 1px 1px 4px;
  transition: all 400ms ease;
}

@media (max-width: 768px) {
  section {
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }

  li {
    font-size: 0.65rem;
    font-weight: 600;
  }
}

@media (min-width: 769px) {
  section {
    width: 85%;
    margin: 0 auto;
  }

  li {
    font-size: 0.8rem;
    font-weight: 600;
  }
}

@media (min-width: 960px) {
  section {
    width: 75%;
    margin: 0 auto;
  }

  li {
    font-size: 0.9rem;
    font-weight: 600;
  }
}

@media (min-width: 1280px) {
  section {
    width: 60%;
    margin: 0 auto;
  }

  li {
    font-size: 1.2rem;
  }
}

::-webkit-scrollbar {
  width: 0.7rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(182, 182, 182);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(128, 128, 128);
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(112, 112, 112);
}
