<<<<<<< HEAD
/* ----/ Simple Css Reset /----*/
=======
>>>>>>> 7191b1e17445c480fe3a1f03e505fe404e53030d
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
}

<<<<<<< HEAD
/* ----/ Right Side Scrollbar /----*/
body::-webkit-scrollbar {
  width: 1rem;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background: #0081d2;
  border-radius: 6px;
  box-shadow: #0909094c 1px 1px 3px;
}

/* ----/ Basic Box-Shadows /----*/
=======
>>>>>>> 7191b1e17445c480fe3a1f03e505fe404e53030d
.shadow {
  box-shadow: #03030356 2px 2px 6px;
  transition: all 400ms ease;
}

.shadow:hover {
  box-shadow: #03030356 1px 1px 4px;
  transition: all 400ms ease;
}

<<<<<<< HEAD

/* ----/ Mobile /----*/
=======
>>>>>>> 7191b1e17445c480fe3a1f03e505fe404e53030d
@media (max-width: 768px) {
  section {
    padding: 0;
    margin: 0 auto;
    width: 100%;
  }

  li {
    font-size: 0.65rem;
    font-weight: 600;
  }
}

<<<<<<< HEAD

/* ----/ Tablet /----*/
=======
>>>>>>> 7191b1e17445c480fe3a1f03e505fe404e53030d
@media (min-width: 769px) {
  section {
    width: 85%;
    margin: 0 auto;
  }

  li {
    font-size: 0.8rem;
    font-weight: 600;
  }
}

<<<<<<< HEAD

/* ----/ Small Desktop /----*/
=======
>>>>>>> 7191b1e17445c480fe3a1f03e505fe404e53030d
@media (min-width: 960px) {
  section {
    width: 75%;
    margin: 0 auto;
  }

  li {
    font-size: 0.9rem;
    font-weight: 600;
  }
}

<<<<<<< HEAD

/* ----/ Large Desktop /----*/
=======
>>>>>>> 7191b1e17445c480fe3a1f03e505fe404e53030d
@media (min-width: 1280px) {
  section {
    width: 60%;
    margin: 0 auto;
  }

  li {
    font-size: 1.2rem;
  }
}